
.BallWrap {
    margin: 20px auto 0;
    background: #f1f1f1;
    border: 1px solid #eee;
    position: relative;
}

.BallWrap .startbtn {
    position: absolute;
    width: 120px;
    height: 28px;
    line-height: 28px;
    top: 50%;
    left: 50%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #aaa;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.BallItem {
    border-radius: 50%;
    position: absolute;
    width: 3px;
    height: 3px;
}
